.Header {
    position:relative ;
    width:100% ;
    height: 18%;
    max-height: 70px;
    min-height: 70px;
    z-index:100;
}

.Footer {
    position:relative ;
    width:100% ;
    height: 18%;
    max-height: 70px;
    min-height: 70px;
    z-index:100;
}
.Home {
    position: relative;
    height: calc(100% - 140px);
    text-align: center;
    min-height: 500px;
}

.result-link {
    border : 1px solid #C6C5C5;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px #aaaaaa;
    cursor: pointer;
    display: flex;
}

.result-link-url {
  font-size: 1.25em;
}

@keyframes onClick-copy {
  0% {
    display: none;
  }
}

.clipboard-img-copy {
    margin-left: 10px;
    width: 30px;
}

.clipboard-img-tick {
  margin-left: 10px;
  width: 30px;
  display: none;
}

#show {
  display: block;
}

#hide {
  display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.my-tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.my-tooltip .my-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}


.my-tooltip:hover .my-tooltiptext {
  visibility: visible;
}

.social-icon-box {
    margin-left: auto;
    display: inline-flex;
}

.social-icon-box div {
    padding: 5px;
}

.social-icon-box svg {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 480px) {
  .social-icon-box svg {
    width: 25px;
    /* height: 20px; */
  }
  .result-link-url {
    font-size: 0.8em;
  }

  .my-tooltiptext {
    display: none;
  }
}

-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }